Connected Services/CBLServiceReference/EpicSDK57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/_commoncriteria/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/_commoncriteria/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd140" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/_commoncriteria/_selecteditem/" />
  <xs:complexType name="SelectedItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedItem" nillable="true" type="tns:SelectedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedItems" nillable="true" type="tns:SelectedItems" />
  <xs:complexType name="SelectedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/_commoncriteria/_selecteditem/" minOccurs="0" name="Flag" type="q1:Flags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedItem" nillable="true" type="tns:SelectedItem" />
</xs:schema>