Connected Services/CBLServiceReference/EpicSDK571.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_personalapplication/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_personalapplication/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttachments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" nillable="true" type="tns:Attachments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachments" nillable="true" type="tns:ArrayOfAttachments" />
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element minOccurs="0" name="FloodExclusionNotice" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeadFreePaintCertification" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileHomeSupplement" type="xs:boolean" />
      <xs:element minOccurs="0" name="OtherCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="Photograph" type="xs:boolean" />
      <xs:element minOccurs="0" name="PolicyID" type="xs:int" />
      <xs:element minOccurs="0" name="ProtectionDeviceCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecreationalVehicleApplication" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReplacementCostEstimate" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResidenceBasedBusinessSupplement" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolidFuelSupplement" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateSupplement" type="xs:boolean" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WindstormLossMitigation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachments" nillable="true" type="tns:Attachments" />
</xs:schema>