Connected Services/CBLServiceReference/EpicSDK161.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_location/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_location/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd281" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_location/_ratinginformationitem/" />
  <xs:complexType name="RatingInformationItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingInformationItem" nillable="true" type="tns:RatingInformationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingInformationItems" nillable="true" type="tns:RatingInformationItems" />
  <xs:complexType name="RatingInformationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriesDutiesClassifications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedAnnualManualPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstimatedAnnualRemunerationPayroll" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_location/_ratinginformationitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="NAICS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfFullTimeEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPartTimeEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RatingInformationID" type="xs:int" />
      <xs:element minOccurs="0" name="SIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingInformationItem" nillable="true" type="tns:RatingInformationItem" />
</xs:schema>