Connected Services/CBLServiceReference/EpicSDK339.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_common/_underwritingquestionansweritem/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_common/_underwritingquestionansweritem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd275" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_common/_underwritingquestionansweritem/_additionalfielditem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd130" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/_underwritingquestionansweritem/_additionalfielditem/" />
  <xs:complexType name="AdditionalFieldItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalFieldItem" nillable="true" type="tns:AdditionalFieldItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalFieldItems" nillable="true" type="tns:AdditionalFieldItems" />
  <xs:complexType name="AdditionalFieldItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalFieldID" type="xs:int" />
      <xs:element minOccurs="0" name="AdditionalFieldNumber" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_common/_underwritingquestionansweritem/_additionalfielditem/" minOccurs="0" name="Answer" nillable="true" type="q1:AdditionalFieldAnswer" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/_underwritingquestionansweritem/_additionalfielditem/" minOccurs="0" name="DataType" type="q2:AdditionalFieldDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalFieldItem" nillable="true" type="tns:AdditionalFieldItem" />
</xs:schema>