Connected Services/CBLServiceReference/EpicSDK30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_watercraft/_applicant/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_watercraft/_applicant/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACORD610Attached" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantBillIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Billing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectBillIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfApplicantBillCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDirectBillCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailPolicyToCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailPolicyToIfOther" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentPlan" nillable="true" type="tns:PaymentPlan" />
  <xs:complexType name="ProducerStatement">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrivacyPracticesSent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProducerStatement" nillable="true" type="tns:ProducerStatement" />
</xs:schema>