Connected Services/CBLServiceReference/EpicSDK377.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/_receivable/_receivableitem" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/_receivable/_receivableitem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReceivableColumnItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceivableColumnItem" nillable="true" type="tns:ReceivableColumnItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceivableColumnItems" nillable="true" type="tns:ReceivableColumnItems" />
  <xs:complexType name="ReceivableColumnItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceivableColumnItem" nillable="true" type="tns:ReceivableColumnItem" />
</xs:schema>