Connected Services/CBLServiceReference/EpicSDK246.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_common/_adjustcommission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_common/_adjustcommission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd76" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_common/_adjustcommission/_commissionsplititem/" />
  <xs:complexType name="CommissionSplitItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionSplitItem" nillable="true" type="tns:CommissionSplitItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionSplitItems" nillable="true" type="tns:CommissionSplitItems" />
  <xs:complexType name="CommissionSplitItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCommissionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AgencyCommissionPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="AgencyCommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencySplitAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyPayableDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuingCompanyLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="PremiumPayableContractID" type="xs:int" />
      <xs:element minOccurs="0" name="PremiumPayableLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumPayableTypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_common/_adjustcommission/_commissionsplititem/" minOccurs="0" name="ProducerBrokerCommissions" nillable="true" type="q1:ProducerBrokerCommissionItems" />
      <xs:element minOccurs="0" name="TransactionCompanyNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetailNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionSplitItem" nillable="true" type="tns:CommissionSplitItem" />
</xs:schema>