Connected Services/CBLServiceReference/EpicSDK3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_solidfuelquestionnaire/_protectivematerialfireprotection/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_solidfuelquestionnaire/_protectivematerialfireprotection/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProtectiveMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurroundingAirSpaces" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProtectiveMaterial" nillable="true" type="tns:ProtectiveMaterial" />
</xs:schema>