Connected Services/CBLServiceReference/EpicSDK502.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_subjectofinsurance/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_subjectofinsurance/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd202" namespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_subjectofinsurance/_causeoflossitem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="CauseOfLossItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CauseOfLossItem" nillable="true" type="tns:CauseOfLossItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CauseOfLossItems" nillable="true" type="tns:CauseOfLossItems" />
  <xs:complexType name="CauseOfLossItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseOfLossCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseOfLossID" type="xs:int" />
      <xs:element minOccurs="0" name="CoinsurancePercentage" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeductiblePercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductibleTypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_subjectofinsurance/_causeoflossitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="ReportForm" type="q2:YesNoOptions" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CauseOfLossItem" nillable="true" type="tns:CauseOfLossItem" />
</xs:schema>