Connected Services/CBLServiceReference/EpicSDK136.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_generalliability/_productsandcompletedoperations/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_generalliability/_productsandcompletedoperations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd257" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_generalliability/_productsandcompletedoperations/_productitem/" />
  <xs:complexType name="ProductItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItems" nillable="true" type="tns:ProductItems" />
  <xs:complexType name="ProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualGrossSales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedLife" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_generalliability/_productsandcompletedoperations/_productitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="IntendedUse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfUnits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalComponents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="TimeInMarket" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItem" nillable="true" type="tns:ProductItem" />
</xs:schema>