Connected Services/CBLServiceReference/EpicSDK515.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianpersonalauto/_vehicle/_vehicleon/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianpersonalauto/_vehicle/_vehicleon/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd395" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="Limits">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="AccidentBenefitsOccasionalDriverValue" nillable="true" type="q1:LimitItem" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="AccidentBenefitsPrincipalDriverValue" nillable="true" type="q2:LimitItem" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="AllPerilsOccasionalDriverValue" nillable="true" type="q3:LimitItem" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="AllPerilsPrincipalDriverValue" nillable="true" type="q4:LimitItem" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="BodilyInjuryOccasionalDriverValue" nillable="true" type="q5:LimitItem" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="BodilyInjuryPrincipalDriverValue" nillable="true" type="q6:LimitItem" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="CaregiverOccasionalDriverValue" nillable="true" type="q7:LimitItem" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="CaregiverPrincipalDriverValue" nillable="true" type="q8:LimitItem" />
      <xs:element xmlns:q9="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="CollisionOrUpsetOccasionalDriverValue" nillable="true" type="q9:LimitItem" />
      <xs:element xmlns:q10="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="CollisionOrUpsetPrincipalDriverValue" nillable="true" type="q10:LimitItem" />
      <xs:element xmlns:q11="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="ComprehensiveOccasionalDriverValue" nillable="true" type="q11:LimitItem" />
      <xs:element xmlns:q12="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="ComprehensivePrincipalDriverValue" nillable="true" type="q12:LimitItem" />
      <xs:element xmlns:q13="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DeathAndFuneralOccasionalDriverValue" nillable="true" type="q13:LimitItem" />
      <xs:element xmlns:q14="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DeathAndFuneralPrincipalDriverValue" nillable="true" type="q14:LimitItem" />
      <xs:element xmlns:q15="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DependentCareOccasionalDriverValue" nillable="true" type="q15:LimitItem" />
      <xs:element xmlns:q16="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DependentCarePrincipalDriverValue" nillable="true" type="q16:LimitItem" />
      <xs:element xmlns:q17="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DirectPropertyDamageOccasionalDriverValue" nillable="true" type="q17:LimitItem" />
      <xs:element xmlns:q18="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="DirectPropertyDamagePrincipalDriverValue" nillable="true" type="q18:LimitItem" />
      <xs:element xmlns:q19="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="IncomeReplacementOccasionalDriverValue" nillable="true" type="q19:LimitItem" />
      <xs:element xmlns:q20="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="IncomeReplacementPrincipalDriverValue" nillable="true" type="q20:LimitItem" />
      <xs:element xmlns:q21="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="IndexationBenefitOccasionalDriverValue" nillable="true" type="q21:LimitItem" />
      <xs:element xmlns:q22="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="IndexationBenefitPrincipalDriverValue" nillable="true" type="q22:LimitItem" />
      <xs:element xmlns:q23="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="MedicalRehabilitationAndAttendantCareOccasionalDriverValue" nillable="true" type="q23:LimitItem" />
      <xs:element xmlns:q24="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="MedicalRehabilitationAndAttendantCarePrincipalDriverValue" nillable="true" type="q24:LimitItem" />
      <xs:element xmlns:q25="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="OptionalCatastrophicImpairmentOccasionalDriverValue" nillable="true" type="q25:LimitItem" />
      <xs:element xmlns:q26="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="OptionalCatastrophicImpairmentPrincipalDriverValue" nillable="true" type="q26:LimitItem" />
      <xs:element xmlns:q27="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="PropertyDamageOccasionalDriverValue" nillable="true" type="q27:LimitItem" />
      <xs:element xmlns:q28="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="PropertyDamagePrincipalDriverValue" nillable="true" type="q28:LimitItem" />
      <xs:element xmlns:q29="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="SpecifiedPerilsOccasionalDriverValue" nillable="true" type="q29:LimitItem" />
      <xs:element xmlns:q30="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="SpecifiedPerilsPrincipalDriverValue" nillable="true" type="q30:LimitItem" />
      <xs:element minOccurs="0" name="TotalVehiclePremiumOccasionalDriver" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalVehiclePremiumPrincipalDriver" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q31="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="UninsuredAutomobileOccasionalDriverValue" nillable="true" type="q31:LimitItem" />
      <xs:element xmlns:q32="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_vehicle/" minOccurs="0" name="UninsuredAutomobilePrincipalDriverValue" nillable="true" type="q32:LimitItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Limits" nillable="true" type="tns:Limits" />
  <xs:complexType name="Rating">
    <xs:sequence>
      <xs:element minOccurs="0" name="FacilityRefusalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityTierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityTierDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OccasionalDriverClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverDrivingRecordAB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverDrivingRecordBI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverDrivingRecordCollAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverDrivingRecordPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverDrivingRecordAB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverDrivingRecordBI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverDrivingRecordCollAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverDrivingRecordDCPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverDrivingRecordPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalDriverSubClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupAB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupCollAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupCompSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupDCPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingTerritory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingVehicleCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
  <xs:complexType name="VehicleDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualDistanceInKilometers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BodyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyTypeIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessUsePercentage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CommuteDistanceOneWay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyVehicleNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CubicCentimeters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePurchaseLease" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FuelTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelTypeIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossVehicleWeightInKilograms" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LicensedProvinceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPriceNew" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MakeTradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCylinders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q33="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="OwnLeasedOption" nillable="true" type="q33:OptionType" />
      <xs:element minOccurs="0" name="PrincipalDriverNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePriceIncludingEquipment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurchaseTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDriverNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleIdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleUsedToCommuteYesNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleDescription" nillable="true" type="tns:VehicleDescription" />
</xs:schema>