Connected Services/CBLServiceReference/EpicSDK369.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianhabitational/_applicant/_addresshistory/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianhabitational/_applicant/_addresshistory/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd339" namespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianhabitational/_applicant/_addresshistory/_previousaddressitem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="PreviousAddressItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreviousAddressItem" nillable="true" type="tns:PreviousAddressItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreviousAddressItems" nillable="true" type="tns:PreviousAddressItems" />
  <xs:complexType name="PreviousAddressItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_canadianhabitational/_applicant/_addresshistory/_previousaddressitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="MovedInDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MovedOutDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="PreviousAddress" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="PreviousAddressID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreviousAddressItem" nillable="true" type="tns:PreviousAddressItem" />
</xs:schema>