Connected Services/CBLServiceReference/EpicSDK290.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_canadiancommercialauto/_applicant/_applicantother/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_canadiancommercialauto/_applicant/_applicantother/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdditonalInformationApplicantCoApplicantInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantDateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApplicantOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoApplicantDateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CoApplicantOccupation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditonalInformationApplicantCoApplicantInformation" nillable="true" type="tns:AdditonalInformationApplicantCoApplicantInformation" />
</xs:schema>