Connected Services/CBLServiceReference/EpicSDK420.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd559" namespace="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/_splitreceivableitem/" />
  <xs:complexType name="SplitReceivableItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SplitReceivableItem" nillable="true" type="tns:SplitReceivableItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SplitReceivableItems" nillable="true" type="tns:SplitReceivableItems" />
  <xs:complexType name="SplitReceivableItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="AddressDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMethodCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/_splitreceivableitem/" minOccurs="0" name="Flag" type="q2:Flags" />
      <xs:element minOccurs="0" name="GenerateInvoice" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceGroupingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SplitAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SplitPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SplitReceivableID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SplitReceivableItem" nillable="true" type="tns:SplitReceivableItem" />
</xs:schema>