Connected Services/CBLServiceReference/EpicSDK497.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_vehicles/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_vehicles/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Miles0To50" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Miles50To200" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MilesOver200" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfLeasedVehicles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfNonOwnedVehicles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfOwnedVehicles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyHauled" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
</xs:schema>