Connected Services/CBLServiceReference/EpicSDK197.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_invoice/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_invoice/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="SendInvoiceToItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendInvoiceToItem" nillable="true" type="tns:SendInvoiceToItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendInvoiceToItems" nillable="true" type="tns:SendInvoiceToItems" />
  <xs:complexType name="SendInvoiceToItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="AddressDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenerateInvoice" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceToType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SplitReceivableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SplitReceivablePercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceGrouping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceGroupingExistingInvoiceNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillBrokerNet" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendInvoiceToItem" nillable="true" type="tns:SendInvoiceToItem" />
</xs:schema>