Connected Services/CBLServiceReference/EpicSDK73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/_lineitem/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/_lineitem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBrokerNet" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillingPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Financed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendInvoiceToAccountLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="SendInvoiceToAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="SendInvoiceToContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendInvoiceToType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
</xs:schema>