Connected Services/CBLServiceReference/EpicSDK208.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_driver/_driveron/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_driver/_driveron/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd386" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_driver/_driveron/_accidentitem/" />
  <xs:complexType name="AccidentItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccidentItem" nillable="true" type="tns:AccidentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccidentItems" nillable="true" type="tns:AccidentItems" />
  <xs:complexType name="AccidentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccidentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccidentID" type="xs:int" />
      <xs:element minOccurs="0" name="AmountPaidOrEstimate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChargeableYesNoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimPaidUnderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadianpersonalauto/_driver/_driveron/_accidentitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccidentItem" nillable="true" type="tns:AccidentItem" />
  <xs:complexType name="DriverResident">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyDriverNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContinuousInsuredDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFirstLicensed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOtherClass1Obtained" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOtherClass2Obtained" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOtherClassObtained" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverLicenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DriverTrainingCertificateAttached" type="xs:boolean" />
      <xs:element minOccurs="0" name="DriverTrainingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClass1Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClass1Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClass2Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClass2Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicenceClassDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationToApplicantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationToApplicantIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetireeDiscount" type="xs:boolean" />
      <xs:element minOccurs="0" name="YearsContinuallyInsured" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearsLicensed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverResident" nillable="true" type="tns:DriverResident" />
</xs:schema>