Connected Services/CBLServiceReference/EpicSDK371.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_movetransaction/_move/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_movetransaction/_move/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd71" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_movetransaction/_move/_transactionitem/" />
  <xs:complexType name="TransactionItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionItem" nillable="true" type="tns:TransactionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionItems" nillable="true" type="tns:TransactionItems" />
  <xs:complexType name="TransactionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      <xs:element minOccurs="0" name="BilledFromAccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BilledToAccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_movetransaction/_move/_transactionitem/" minOccurs="0" name="Flag" type="q1:Flag" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="InstallmentNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionItem" nillable="true" type="tns:TransactionItem" />
</xs:schema>