Connected Services/CBLServiceReference/EpicSDK281.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd138" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd145" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:simpleType name="EmployeeGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmployeeID" />
      <xs:enumeration value="LookupCode" />
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="LastFirstName" />
      <xs:enumeration value="PhoneNumber" />
      <xs:enumeration value="PriorAccountID" />
      <xs:enumeration value="Relationship" />
      <xs:enumeration value="StreetAddress" />
      <xs:enumeration value="EmailAddress" />
      <xs:enumeration value="SalesTeam" />
      <xs:enumeration value="NationalProducerNumber" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmployeeGetType" nillable="true" type="tns:EmployeeGetType" />
  <xs:simpleType name="CommissionGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountID" />
      <xs:enumeration value="CommissionID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommissionGetType" nillable="true" type="tns:CommissionGetType" />
  <xs:complexType name="ArrayOfEmployeeCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeCommission" nillable="true" type="tns:EmployeeCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeCommission" nillable="true" type="tns:ArrayOfEmployeeCommission" />
  <xs:complexType name="EmployeeCommission">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgencyValue" nillable="true" type="q1:CommonCriteria" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgreementValue" nillable="true" type="q2:Agreement" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="BranchValue" nillable="true" type="q3:CommonCriteria" />
      <xs:element minOccurs="0" name="CommissionID" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="CompanyValue" nillable="true" type="q4:CommonCriteria" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="DepartmentValue" nillable="true" type="q5:CommonCriteria" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="IssuingLocationValue" nillable="true" type="q6:CommonCriteria" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="LineOfBusinessValue" nillable="true" type="q7:LineOfBusinessCriteria" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="PremiumBasedValue" nillable="true" type="q8:PremiumBasedTieredCommission" />
      <xs:element xmlns:q9="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="ProfitCenterValue" nillable="true" type="q9:CommonCriteria" />
      <xs:element xmlns:q10="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="StatusValue" nillable="true" type="q10:CommonCriteria" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q11="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" minOccurs="0" name="RiskBasedValue" nillable="true" type="q11:RiskBasedTieredCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeCommission" nillable="true" type="tns:EmployeeCommission" />
  <xs:complexType name="ArrayOfBrokerCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerCommission" nillable="true" type="tns:BrokerCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerCommission" nillable="true" type="tns:ArrayOfBrokerCommission" />
  <xs:complexType name="BrokerCommission">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgencyValue" nillable="true" type="q12:CommonCriteria" />
      <xs:element xmlns:q13="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgreementTypeValue" nillable="true" type="q13:AgreementTypeCriteria" />
      <xs:element xmlns:q14="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgreementValue" nillable="true" type="q14:Agreement" />
      <xs:element xmlns:q15="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="BranchValue" nillable="true" type="q15:CommonCriteria" />
      <xs:element minOccurs="0" name="BrokerID" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionID" type="xs:int" />
      <xs:element xmlns:q16="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="CompanyValue" nillable="true" type="q16:CommonCriteria" />
      <xs:element xmlns:q17="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="DepartmentValue" nillable="true" type="q17:CommonCriteria" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element xmlns:q18="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="IssuingLocationValue" nillable="true" type="q18:CommonCriteria" />
      <xs:element xmlns:q19="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="LineOfBusinessValue" nillable="true" type="q19:LineOfBusinessCriteria" />
      <xs:element xmlns:q20="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="PremiumBasedValue" nillable="true" type="q20:PremiumBasedTieredCommission" />
      <xs:element xmlns:q21="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="ProfitCenterValue" nillable="true" type="q21:CommonCriteria" />
      <xs:element xmlns:q22="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="StatusValue" nillable="true" type="q22:CommonCriteria" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q23="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" minOccurs="0" name="RiskBasedValue" nillable="true" type="q23:RiskBasedTieredCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCommission" nillable="true" type="tns:BrokerCommission" />
  <xs:complexType name="ArrayOfCompanyCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyCommission" nillable="true" type="tns:CompanyCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyCommission" nillable="true" type="tns:ArrayOfCompanyCommission" />
  <xs:complexType name="CompanyCommission">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgencyValue" nillable="true" type="q24:CommonCriteria" />
      <xs:element xmlns:q25="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="AgreementValue" nillable="true" type="q25:Agreement" />
      <xs:element xmlns:q26="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="BillModeAgencyDirectBothOption" nillable="true" type="q26:OptionType" />
      <xs:element xmlns:q27="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="BranchValue" nillable="true" type="q27:CommonCriteria" />
      <xs:element minOccurs="0" name="CommissionID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element xmlns:q28="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="CompanyTypeBillingIssuingBothOption" nillable="true" type="q28:OptionType" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element xmlns:q29="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="IssuingLocationValue" nillable="true" type="q29:CommonCriteria" />
      <xs:element xmlns:q30="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="LineOfBusinessValue" nillable="true" type="q30:LineOfBusinessCriteria" />
      <xs:element xmlns:q31="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="PremiumBasedTieredCommissionValue" nillable="true" type="q31:PremiumBasedTieredCommission" />
      <xs:element xmlns:q32="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_commission/" minOccurs="0" name="StatusValue" nillable="true" type="q32:CommonCriteria" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q33="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" minOccurs="0" name="RiskBasedTieredCommissionValue" nillable="true" type="q33:RiskBasedTieredCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyCommission" nillable="true" type="tns:CompanyCommission" />
</xs:schema>