Connected Services/CBLServiceReference/EpicSDK393.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_residential/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_residential/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttachments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" nillable="true" type="tns:Attachments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachments" nillable="true" type="tns:ArrayOfAttachments" />
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentOther1Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentOther1Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentOther2Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentOther2Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Earthquake" type="xs:boolean" />
      <xs:element minOccurs="0" name="Flood" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeadFree" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="MobileHome" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonalInlandMarine" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonalUmbrella" type="xs:boolean" />
      <xs:element minOccurs="0" name="Photograph" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrefillID" type="xs:int" />
      <xs:element minOccurs="0" name="ProtectionDevice" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReplacementCost" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResidenceBasedBusiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolidFuel" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateSupplement" type="xs:boolean" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Watercraft" type="xs:boolean" />
      <xs:element minOccurs="0" name="WindstormLoss" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachments" nillable="true" type="tns:Attachments" />
</xs:schema>