Connected Services/CBLServiceReference/EpicSDK182.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_get/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_get/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd534" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd536" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/" />
  <xs:complexType name="LineGetResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/" minOccurs="0" name="Lines" nillable="true" type="q1:ArrayOfLine" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineGetResult" nillable="true" type="tns:LineGetResult" />
  <xs:complexType name="ContactGetResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/" minOccurs="0" name="Contacts" nillable="true" type="q2:ArrayOfContact" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactGetResult" nillable="true" type="tns:ContactGetResult" />
  <xs:complexType name="EmployeeGetResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/" minOccurs="0" name="Employees" nillable="true" type="q3:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeGetResult" nillable="true" type="tns:EmployeeGetResult" />
</xs:schema>