Connected Services/CBLServiceReference/EpicSDK490.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_holder/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_holder/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DescriptionOf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintHolderSummary" type="xs:boolean" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DescriptionOf" nillable="true" type="tns:DescriptionOf" />
</xs:schema>