Connected Services/CBLServiceReference/EpicSDK264.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_action/_updatestagetosubmitted/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_action/_updatestagetosubmitted/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd50" namespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_action/_updatestagetosubmitted/_lineitem/" />
  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItems" nillable="true" type="tns:LineItems" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_action/_updatestagetosubmitted/_lineitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="IssuingCompanyLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LineTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumPayableLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumPayableTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>