Connected Services/CBLServiceReference/EpicSDK453.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd146" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/" />
  <xs:complexType name="RiskBasedTieredCommission">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="IndividualPolicyBookOfBusinessOption" nillable="true" type="q1:OptionType" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/" minOccurs="0" name="RiskBasedCommissionsValue" nillable="true" type="q2:RiskBasedTieredCommissionItems" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="RisksInsuredTotalEligibleOption" nillable="true" type="q3:OptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskBasedTieredCommission" nillable="true" type="tns:RiskBasedTieredCommission" />
</xs:schema>