Connected Services/CBLServiceReference/EpicSDK397.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_customform/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_customform/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="NonScheduledScreenItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NonScheduledScreenItem" nillable="true" type="tns:NonScheduledScreenItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonScheduledScreenItems" nillable="true" type="tns:NonScheduledScreenItems" />
  <xs:complexType name="NonScheduledScreenItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:FieldItems" />
      <xs:element minOccurs="0" name="ScreenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonScheduledScreenItem" nillable="true" type="tns:NonScheduledScreenItem" />
  <xs:complexType name="FieldItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldItem" nillable="true" type="tns:FieldItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldItems" nillable="true" type="tns:FieldItems" />
  <xs:complexType name="FieldItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="DataType" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="FieldID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLabel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldItem" nillable="true" type="tns:FieldItem" />
  <xs:complexType name="ScheduledScreenItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduledScreenItem" nillable="true" type="tns:ScheduledScreenItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledScreenItems" nillable="true" type="tns:ScheduledScreenItems" />
  <xs:complexType name="ScheduledScreenItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ScheduledItems" />
      <xs:element minOccurs="0" name="ScheduleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledScreenItem" nillable="true" type="tns:ScheduledScreenItem" />
  <xs:complexType name="ScheduledItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldItems" nillable="true" type="tns:FieldItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledItems" nillable="true" type="tns:ScheduledItems" />
  <xs:complexType name="ArrayOfFieldItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldItems" nillable="true" type="tns:FieldItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFieldItems" nillable="true" type="tns:ArrayOfFieldItems" />
  <xs:simpleType name="AdditionalCoverageGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="AdditionalCoverageID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdditionalCoverageGetType" nillable="true" type="tns:AdditionalCoverageGetType" />
  <xs:complexType name="ArrayOfAdditionalCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalCoverage" nillable="true" type="tns:AdditionalCoverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalCoverage" nillable="true" type="tns:ArrayOfAdditionalCoverage" />
  <xs:complexType name="AdditionalCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalCoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadonly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalCoverage" nillable="true" type="tns:AdditionalCoverage" />
  <xs:simpleType name="AdditionalInterestGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="AdditionalInterestID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdditionalInterestGetType" nillable="true" type="tns:AdditionalInterestGetType" />
  <xs:complexType name="ArrayOfAdditionalInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInterest" nillable="true" type="tns:AdditionalInterest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalInterest" nillable="true" type="tns:ArrayOfAdditionalInterest" />
  <xs:complexType name="AdditionalInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInterestID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="CertificateRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="InterestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceLoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalInterest" nillable="true" type="tns:AdditionalInterest" />
  <xs:simpleType name="FormAndEndorsementGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="FormAndEndorsementID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormAndEndorsementGetType" nillable="true" type="tns:FormAndEndorsementGetType" />
  <xs:complexType name="ArrayOfFormAndEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormAndEndorsement" nillable="true" type="tns:FormAndEndorsement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormAndEndorsement" nillable="true" type="tns:ArrayOfFormAndEndorsement" />
  <xs:complexType name="FormAndEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CopyrightCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyrightType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormAndEndorsementID" type="xs:int" />
      <xs:element minOccurs="0" name="IsReadonly" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormAndEndorsement" nillable="true" type="tns:FormAndEndorsement" />
  <xs:simpleType name="RemarkGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="RemarkID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemarkGetType" nillable="true" type="tns:RemarkGetType" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadonly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintOnForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemarkID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
</xs:schema>