Connected Services/CBLServiceReference/EpicSDK117.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_priorcarrier/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_priorcarrier/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd289" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_priorcarrier/_priorcarrierLossHistoryitem/" />
  <xs:complexType name="PriorCarrierLossHistoryItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriorCarrierLossHistoryItem" nillable="true" type="tns:PriorCarrierLossHistoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorCarrierLossHistoryItems" nillable="true" type="tns:PriorCarrierLossHistoryItems" />
  <xs:complexType name="PriorCarrierLossHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPaid" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AnnualPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperienceModification" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_priorcarrier/_priorcarrierLossHistoryitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="NumberOfClaims" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorCarrierLossHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Reserve" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorCarrierLossHistoryItem" nillable="true" type="tns:PriorCarrierLossHistoryItem" />
</xs:schema>