Connected Services/CBLServiceReference/EpicSDK556.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_carriersubmission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_carriersubmission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd8" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd155" namespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_carriersubmission/_lineitem/" />
  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItems" nillable="true" type="tns:LineItems" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="AgencyDefinedCategoryItems" nillable="true" type="q1:AgencyDefinedCodeItems" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_carriersubmission/_lineitem/" minOccurs="0" name="Flag" type="q2:Flags" />
      <xs:element minOccurs="0" name="LineStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketingLineID" type="xs:int" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="ServicingRoleItems" nillable="true" type="q3:ServicingRolesItems" />
      <xs:element minOccurs="0" name="LineInformationLineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RisksInsured" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RisksInsuredDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalEligible" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalEligibleDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>