Connected Services/CBLServiceReference/EpicSDK330.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_generatetaxfee/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_generatetaxfee/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd84" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_generatetaxfee/_generatetaxfeeitem/" />
  <xs:complexType name="GenerateTaxFeeItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenerateTaxFeeItem" nillable="true" type="tns:GenerateTaxFeeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateTaxFeeItems" nillable="true" type="tns:GenerateTaxFeeItems" />
  <xs:complexType name="GenerateTaxFeeItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_generatetaxfee/_generatetaxfeeitem/" minOccurs="0" name="InvoiceItems" nillable="true" type="q1:InvoiceItems" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_generatetaxfee/_generatetaxfeeitem/" minOccurs="0" name="TaxFeeValue" nillable="true" type="q2:TaxFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateTaxFeeItem" nillable="true" type="tns:GenerateTaxFeeItem" />
</xs:schema>