Connected Services/CBLServiceReference/EpicSDK106.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_disbursement/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_disbursement/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="DisbursementVoid">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailAccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisbursementID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonDetails" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="RelatedVouchersOption" nillable="true" type="q1:OptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisbursementVoid" nillable="true" type="tns:DisbursementVoid" />
</xs:schema>