Connected Services/CBLServiceReference/EpicSDK513.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_get/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_get/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd103" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/" />
  <xs:complexType name="BrokerGetResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/" minOccurs="0" name="Brokers" nillable="true" type="q1:ArrayOfBroker" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerGetResult" nillable="true" type="tns:BrokerGetResult" />
  <xs:complexType name="CompanyGetResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/" minOccurs="0" name="Companies" nillable="true" type="q2:ArrayOfCompany" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyGetResult" nillable="true" type="tns:CompanyGetResult" />
  <xs:complexType name="EmployeeGetResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/" minOccurs="0" name="Employees" nillable="true" type="q3:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeGetResult" nillable="true" type="tns:EmployeeGetResult" />
</xs:schema>