Connected Services/CBLServiceReference/EpicSDK95.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/_statementofvalues/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/_statementofvalues/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd210" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_statementofvalues/_formandendorsementitem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd211" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_statementofvalues/_statementofvaluescheduleitem/" />
  <xs:complexType name="FormAndEndorsementItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormAndEndorsementItem" nillable="true" type="tns:FormAndEndorsementItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormAndEndorsementItems" nillable="true" type="tns:FormAndEndorsementItems" />
  <xs:complexType name="FormAndEndorsementItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CopyrightCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyrightTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditionDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_statementofvalues/_formandendorsementitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="FormAndEndorsementID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormAndEndorsementItem" nillable="true" type="tns:FormAndEndorsementItem" />
  <xs:complexType name="StatementOfValuesScheduleItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatementOfValuesScheduleItem" nillable="true" type="tns:StatementOfValuesScheduleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementOfValuesScheduleItems" nillable="true" type="tns:StatementOfValuesScheduleItems" />
  <xs:complexType name="StatementOfValuesScheduleItem">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="ClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_statementofvalues/_statementofvaluescheduleitem/" minOccurs="0" name="Flag" type="q3:Flags" />
      <xs:element minOccurs="0" name="IncludeAllPropertyPremises" type="xs:boolean" />
      <xs:element minOccurs="0" name="OneHundredPercentValues" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RateOrLossCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementOfValuesScheduleID" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectOfInsuranceID" type="xs:int" />
      <xs:element minOccurs="0" name="ValuationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementOfValuesScheduleItem" nillable="true" type="tns:StatementOfValuesScheduleItem" />
</xs:schema>