Connected Services/CBLServiceReference/EpicSDK223.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd558" namespace="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/" />
  <xs:complexType name="ArrayOfSplitReceivableTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SplitReceivableTemplate" nillable="true" type="tns:SplitReceivableTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSplitReceivableTemplate" nillable="true" type="tns:ArrayOfSplitReceivableTemplate" />
  <xs:complexType name="SplitReceivableTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ParentPercentage" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="SplitByAccountContactOption" nillable="true" type="q1:OptionType" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_splitreceivabletemplate/" minOccurs="0" name="SplitReceivableItems" nillable="true" type="q2:SplitReceivableItems" />
      <xs:element minOccurs="0" name="SplitReceivableTemplateID" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="SplitValuePercentageAmountOption" nillable="true" type="q3:OptionType" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SplitReceivableTemplate" nillable="true" type="tns:SplitReceivableTemplate" />
</xs:schema>