Connected Services/CBLServiceReference/EpicSDK116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:simpleType name="CertificateGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CertificateID" />
      <xs:enumeration value="Liability" />
      <xs:enumeration value="Property" />
      <xs:enumeration value="IntermodalInterchange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CertificateGetType" nillable="true" type="tns:CertificateGetType" />
  <xs:simpleType name="CertificateFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Issued" />
      <xs:enumeration value="Holder" />
      <xs:enumeration value="PolicyNumber" />
      <xs:enumeration value="LineType" />
      <xs:enumeration value="JobCode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CertificateFilterType" nillable="true" type="tns:CertificateFilterType" />
  <xs:simpleType name="CertificateComparisonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="EqualTo" />
      <xs:enumeration value="Containing" />
      <xs:enumeration value="WithinRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CertificateComparisonType" nillable="true" type="tns:CertificateComparisonType" />
  <xs:complexType name="ArrayOfCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Certificate" nillable="true" type="tns:Certificate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificate" nillable="true" type="tns:ArrayOfCertificate" />
  <xs:complexType name="Certificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="CertificateID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Certificate" nillable="true" type="tns:Certificate" />
</xs:schema>