Connected Services/CBLServiceReference/EpicSDK23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_detail/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_detail/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DetailItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailItem" nillable="true" type="tns:DetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailItems" nillable="true" type="tns:DetailItems" />
  <xs:complexType name="DetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARDueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDetailNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailItem" nillable="true" type="tns:DetailItem" />
</xs:schema>