Connected Services/CBLServiceReference/EpicSDK296.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd325" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_safe/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd329" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_employee/" />
  <xs:complexType name="ArrayOfSafe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Safe" nillable="true" type="tns:Safe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSafe" nillable="true" type="tns:ArrayOfSafe" />
  <xs:complexType name="Safe">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_safe/" minOccurs="0" name="MessengerProtectionItems" nillable="true" type="q1:MessengerProtectionItems" />
      <xs:element minOccurs="0" name="PremiseID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_safe/" minOccurs="0" name="RemarkItems" nillable="true" type="q2:RemarkItems" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_safe/" minOccurs="0" name="SafeProtectionValue" nillable="true" type="q3:Protection" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_safe/" minOccurs="0" name="SafeVaultItems" nillable="true" type="q4:SafeVaultItems" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Safe" nillable="true" type="tns:Safe" />
  <xs:simpleType name="EmployeeGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="PremiseID" />
      <xs:enumeration value="MarketingLineID" />
      <xs:enumeration value="MarketingLineIDAndCarrierSubmissionID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmployeeGetType" nillable="true" type="tns:EmployeeGetType" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_crime/_employee/" minOccurs="0" name="EmployeeItems" nillable="true" type="q5:EmployeeItems" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="PremiseID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>