Connected Services/CBLServiceReference/EpicSDK269.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd471" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/_coverages/" />
  <xs:complexType name="Coverages">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageItems" nillable="true" type="tns:VehicleCoverageItems" />
      <xs:element minOccurs="0" name="NetVehicleDebitCreditDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetVehicleDebitCreditPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPremium" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coverages" nillable="true" type="tns:Coverages" />
  <xs:complexType name="VehicleCoverageItems">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/_coverages/" minOccurs="0" maxOccurs="unbounded" name="CoverageItem" nillable="true" type="q1:CoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleCoverageItems" nillable="true" type="tns:VehicleCoverageItems" />
  <xs:complexType name="Rating">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CostNew" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DaysDrivenPerWeek" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="FactorLiability" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactorPhysicalDamage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactorSecondary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FarthestTerminalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossVehicleWeightOrGrossCombinationWeight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IncludedInFleetCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeasedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensedStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RadiusInMiles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RateClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatingCapacity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialIndustryClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialUseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SymbolAgeGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
</xs:schema>