Connected Services/CBLServiceReference/EpicSDK499.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LiabilityRenewCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="CertificateID" type="xs:int" />
      <xs:element minOccurs="0" name="DescriptionOfOperations" type="xs:boolean" />
      <xs:element minOccurs="0" name="Holders" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldersAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldersDescriptionOfOperations" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoldersIncludeInactiveHolders" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiabilityRenewCertificate" nillable="true" type="tns:LiabilityRenewCertificate" />
  <xs:complexType name="PropertyRenewCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="CertificateID" type="xs:int" />
      <xs:element minOccurs="0" name="Holders" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldersAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldersLocationOfPremisesDescriptionOfProperty" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldersSpecialConditionsOtherCoverages" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationOfPremisesDescriptionOfProperty" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpecialConditions" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoldersInculdeInactiveHolders" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyRenewCertificate" nillable="true" type="tns:PropertyRenewCertificate" />
</xs:schema>