Connected Services/CBLServiceReference/EpicSDK484.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd161" namespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd551" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/" />
  <xs:complexType name="ArrayOfMoveMarketedLinesToCurrentPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoveMarketedLinesToCurrentPolicy" nillable="true" type="tns:MoveMarketedLinesToCurrentPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoveMarketedLinesToCurrentPolicy" nillable="true" type="tns:ArrayOfMoveMarketedLinesToCurrentPolicy" />
  <xs:complexType name="MoveMarketedLinesToCurrentPolicy">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="AddRenewUpdatePolicyOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/" minOccurs="0" name="AttachmentItems" nillable="true" type="q2:AttachmentItems" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierSubmissionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstimatedPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExistingPolicyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncludeHistory" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProspectivePolicy" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_marketedpolicy/_action/_movemarketedlinestocurrentpolicy/" minOccurs="0" name="LineItems" nillable="true" type="q3:LineItems" />
      <xs:element minOccurs="0" name="MoveMarketingSubmissionAndAllAttachedCarrierSubmissionsToHistory" type="xs:boolean" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="UpdateStageToOption" nillable="true" type="q4:OptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoveMarketedLinesToCurrentPolicy" nillable="true" type="tns:MoveMarketedLinesToCurrentPolicy" />
</xs:schema>