Connected Services/CBLServiceReference/EpicSDK455.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_configure/_salesteam/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_configure/_salesteam/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberItem" nillable="true" type="tns:MemberItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberItems" nillable="true" type="tns:MemberItems" />
  <xs:complexType name="MemberItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="LookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberItem" nillable="true" type="tns:MemberItem" />
</xs:schema>