Connected Services/CBLServiceReference/EpicSDK396.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_garageanddealers/_vehicle/_vehiclecoverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_garageanddealers/_vehicle/_vehiclecoverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VehicleCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousOptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleCoverage" nillable="true" type="tns:VehicleCoverage" />
</xs:schema>