Connected Services/CBLServiceReference/EpicSDK219.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_updatemarketingattachment/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_updatemarketingattachment/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarrierSubmissionItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrierSubmissionItem" nillable="true" type="tns:CarrierSubmissionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierSubmissionItems" nillable="true" type="tns:CarrierSubmissionItems" />
  <xs:complexType name="CarrierSubmissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierSubmissionID" type="xs:int" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierSubmissionItem" nillable="true" type="tns:CarrierSubmissionItem" />
</xs:schema>