Connected Services/CBLServiceReference/EpicSDK322.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_residential/_generalinformation/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_residential/_generalinformation/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd183" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_residential/_generalinformation/_underwritingquestionansweritem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="UnderwritingQuestionAnswerItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnderwritingQuestionAnswerItem" nillable="true" type="tns:UnderwritingQuestionAnswerItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnderwritingQuestionAnswerItems" nillable="true" type="tns:UnderwritingQuestionAnswerItems" />
  <xs:complexType name="UnderwritingQuestionAnswerItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_residential/_generalinformation/_underwritingquestionansweritem/" minOccurs="0" name="AdditionalFields" nillable="true" type="q1:AdditionalFieldItems" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Answer" type="q2:YesNoOptions" />
      <xs:element minOccurs="0" name="Explanation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnderwritingQuestionAnswerItem" nillable="true" type="tns:UnderwritingQuestionAnswerItem" />
</xs:schema>