Connected Services/CBLServiceReference/EpicSDK88.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_personalauto/_policyinformation/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_personalauto/_policyinformation/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employment">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateHired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearsWithCurrentEmployer" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="YearsWithPreviousEmployer" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="WorkNumberCountryCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment" nillable="true" type="tns:Employment" />
</xs:schema>