Connected Services/CBLServiceReference/EpicSDK81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_claim/_summary/_reportinghistory/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_claim/_summary/_reportinghistory/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd89" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_claim/_summary/_reportinghistory/_claimcodeitem/" />
  <xs:complexType name="ClaimCodeItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimCodeItem" nillable="true" type="tns:ClaimCodeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimCodeItems" nillable="true" type="tns:ClaimCodeItems" />
  <xs:complexType name="ClaimCodeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_claim/_summary/_reportinghistory/_claimcodeitem/" minOccurs="0" name="Flag" type="q1:Flags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimCodeItem" nillable="true" type="tns:ClaimCodeItem" />
</xs:schema>