Connected Services/CBLServiceReference/EpicSDK227.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_fault/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_fault/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MethodCallFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodCallFault" nillable="true" type="tns:MethodCallFault" />
  <xs:complexType name="InputValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLengthExceededFault" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumValueorLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputValidationFault" nillable="true" type="tns:InputValidationFault" />
  <xs:complexType name="ConcurrencyFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConcurrencyFault" nillable="true" type="tns:ConcurrencyFault" />
  <xs:complexType name="AuthenticationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationFault" nillable="true" type="tns:AuthenticationFault" />
</xs:schema>