Connected Services/CBLServiceReference/EpicSDK328.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_personalauto/_vehiclecommon/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_personalauto/_vehiclecommon/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DriverUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver2Number" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver2Percent" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver3Number" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver3Percent" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver4Number" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver4Percent" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver5Number" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver5Percent" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver6Number" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Driver6Percent" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="GoverningDriverNumber" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="GoverningDriverPercent" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverUse" nillable="true" type="tns:DriverUse" />
</xs:schema>