Connected Services/CBLServiceReference/EpicSDK272.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_applicant/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_applicant/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd220" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_applicant/_contact/" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacts" nillable="true" type="tns:Contacts" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactTypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_applicant/_contact/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhoneType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhoneType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="NatureOfBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessStartedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionOfOperationsOfOtherNamedInsureds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOfPrimaryOperations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationServiceOrRepairWork" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NatureOfBusinessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NatureOfBusinessIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffPremisesInstallationServiceOrRepairWork" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NatureOfBusiness" nillable="true" type="tns:NatureOfBusiness" />
</xs:schema>