Connected Services/CBLServiceReference/EpicSDK315.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd522" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="ReconcileDetailItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReconcileDetailItem" nillable="true" type="tns:ReconcileDetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconcileDetailItems" nillable="true" type="tns:ReconcileDetailItems" />
  <xs:complexType name="ReconcileDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconcileDetailItem" nillable="true" type="tns:ReconcileDetailItem" />
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountingMonthCriteria" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="AgencyCriteriaValue" nillable="true" type="q1:CriteriaItem" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="BranchCriteriaValue" nillable="true" type="q2:CriteriaItem" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="BrokerExternalInternalBothCriteriaOption" nillable="true" type="q3:OptionType" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="CompanyBrokerOption" nillable="true" type="q4:OptionType" />
      <xs:element minOccurs="0" name="CreateSeparateStatements" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultAsTransactionDescription" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="DepartmentCriteriaValue" nillable="true" type="q5:CriteriaItem" />
      <xs:element minOccurs="0" name="DirectBillCommissionDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="EntityCriteriaValue" nillable="true" type="q6:CriteriaItem" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="IssuingCompanyCriteriaValue" nillable="true" type="q7:CriteriaItem" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="LineOfBusinessCriteriaValue" nillable="true" type="q8:CriteriaItem" />
      <xs:element minOccurs="0" name="MasterStatementNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" minOccurs="0" name="ProfitCenterCriteriaValue" nillable="true" type="q9:CriteriaItem" />
      <xs:element xmlns:q10="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="RecordReconcileCommissionsOption" nillable="true" type="q10:OptionType" />
      <xs:element minOccurs="0" name="StatementDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementOwnerCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summary" nillable="true" type="tns:Summary" />
</xs:schema>