Connected Services/CBLServiceReference/EpicSDK39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JournalEntryVoid">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailAccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalEntryID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonDetails" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalEntryVoid" nillable="true" type="tns:JournalEntryVoid" />
</xs:schema>