Connected Services/CBLServiceReference/EpicSDK409.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd209" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/_statementofvalues/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="ArrayOfStatementOfValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatementOfValues" nillable="true" type="tns:StatementOfValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatementOfValues" nillable="true" type="tns:ArrayOfStatementOfValues" />
  <xs:complexType name="StatementOfValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicableCausesOfLossCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicableCausesOfLossIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoinsurancePercentageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoinsurancePercentageIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Earthquake" type="xs:boolean" />
      <xs:element minOccurs="0" name="Flood" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/_statementofvalues/" minOccurs="0" name="FormsAndEndorsements" nillable="true" type="q1:FormAndEndorsementItems" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Headquarters" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="RateRequestedOption" nillable="true" type="q3:OptionType" />
      <xs:element minOccurs="0" name="RateRequestedOtherDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprinklerLeakageExcluded" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_property/_statementofvalues/" minOccurs="0" name="StatementOfValuesSchedules" nillable="true" type="q4:StatementOfValuesScheduleItems" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VandalismExcluded" type="xs:boolean" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementOfValues" nillable="true" type="tns:StatementOfValues" />
</xs:schema>