Connected Services/CBLServiceReference/EpicSDK305.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialapplication/_generalinformation/_underwritingquestionansweritem/_additionalfielditem/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialapplication/_generalinformation/_underwritingquestionansweritem/_additionalfielditem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="AdditionalFieldAnswer">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="AddressFieldAnswer" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="BooleanFieldAnswer" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrencyFieldAnswer" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateFieldAnswer" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntegerFieldAnswer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LimitFieldAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericFieldAnswer" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PhoneFieldAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringFieldAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneCountryCodeFieldAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalFieldAnswer" nillable="true" type="tns:AdditionalFieldAnswer" />
</xs:schema>