Connected Services/CBLServiceReference/EpicSDK386.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_generalledger/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_generalledger/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd488" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd497" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_generalledger/_journalentry/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd520" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/" />
  <xs:complexType name="ReceiptGetResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/" minOccurs="0" name="Receipts" nillable="true" type="q1:ArrayOfReceipt" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptGetResult" nillable="true" type="tns:ReceiptGetResult" />
  <xs:complexType name="JournalEntryFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameEquals" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountingMonthBegins" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountingMonthEnds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDateBegins" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveDateEnds" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredDateBegins" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredDateEnds" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExportBatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportedByEquals" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExportedDateBegins" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExportedDateEnds" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GLSchedule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeVoidSystemEntries" type="xs:boolean" />
      <xs:element minOccurs="0" name="JournalEntryAssociationLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_generalledger/_journalentry/" minOccurs="0" name="JournalEntryAssociationType" type="q2:AssociationType" />
      <xs:element minOccurs="0" name="JournalEntryBatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalEntryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastSixMonthsOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostedByEquals" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostedDateBegins" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostedDateEnds" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReferenceNumberBegins" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumberEnds" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalEntryFilter" nillable="true" type="tns:JournalEntryFilter" />
  <xs:complexType name="JournalEntryGetResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/" minOccurs="0" name="JournalEntries" nillable="true" type="q3:ArrayOfJournalEntry" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalEntryGetResult" nillable="true" type="tns:JournalEntryGetResult" />
  <xs:complexType name="DisbursementGetResult">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/" minOccurs="0" name="Disbursements" nillable="true" type="q4:ArrayOfDisbursement" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisbursementGetResult" nillable="true" type="tns:DisbursementGetResult" />
  <xs:complexType name="VoucherGetResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/" minOccurs="0" name="Vouchers" nillable="true" type="q5:ArrayOfVoucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherGetResult" nillable="true" type="tns:VoucherGetResult" />
  <xs:complexType name="DirectBillCommissionGetResult">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/" minOccurs="0" name="DirectBillCommissions" nillable="true" type="q6:ArrayOfDirectBillCommission" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectBillCommissionGetResult" nillable="true" type="tns:DirectBillCommissionGetResult" />
</xs:schema>