Connected Services/CBLServiceReference/EpicSDK457.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_claim/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_claim/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd546" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_claim/_paymentexpense/" />
  <xs:complexType name="ArrayOfPaymentExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentExpense" nillable="true" type="tns:PaymentExpense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentExpense" nillable="true" type="tns:ArrayOfPaymentExpense" />
  <xs:complexType name="PaymentExpense">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpensesPaid" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExpensesReserved" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndemnityPaid" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndemnityReserved" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_claim/_paymentexpense/" minOccurs="0" name="PaymentExpenseItems" nillable="true" type="q1:PaymentExpenseItems" />
      <xs:element minOccurs="0" name="ReceivedAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalvageRecoveryPaid" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SentAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentExpense" nillable="true" type="tns:PaymentExpense" />
</xs:schema>