Connected Services/CBLServiceReference/EpicSDK92.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_boilerandmachinery/_premise/_coverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_boilerandmachinery/_premise/_coverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItem" nillable="true" type="tns:CoverageItem" />
</xs:schema>