Connected Services/CBLServiceReference/EpicSDK257.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_policy/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_get/_policy/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd24" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/" />
  <xs:complexType name="MultiCarrierScheduleGetResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/" minOccurs="0" name="MultiCarrierSchedules" nillable="true" type="q1:ArrayOfMultiCarrierSchedule" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultiCarrierScheduleGetResult" nillable="true" type="tns:MultiCarrierScheduleGetResult" />
</xs:schema>