Connected Services/CBLServiceReference/EpicSDK179.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_ratingunderwriting/_generalconstructionsiding/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_ratingunderwriting/_generalconstructionsiding/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneralConstructionSidingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralConstructionSidingType" nillable="true" type="tns:GeneralConstructionSidingType" />
</xs:schema>