Connected Services/CBLServiceReference/EpicSDK181.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd469" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_coverages/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd470" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/" />
  <xs:simpleType name="AdditionalCoverageGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="AdditionalCoverageID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdditionalCoverageGetType" nillable="true" type="tns:AdditionalCoverageGetType" />
  <xs:complexType name="ArrayOfAdditionalCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalCoverage" nillable="true" type="tns:AdditionalCoverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalCoverage" nillable="true" type="tns:ArrayOfAdditionalCoverage" />
  <xs:complexType name="AdditionalCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalCoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="NumericValue1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransportationVehicleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YesNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalCoverage" nillable="true" type="tns:AdditionalCoverage" />
  <xs:complexType name="ArrayOfOperationsFreeOnBoard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationsFreeOnBoard" nillable="true" type="tns:OperationsFreeOnBoard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationsFreeOnBoard" nillable="true" type="tns:ArrayOfOperationsFreeOnBoard" />
  <xs:complexType name="OperationsFreeOnBoard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualGrossSales" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IfYesEnterPercentageOfAnnualGrossSales" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsContingentCoverageDesiredOnFOBYesNoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfRefrigeratedUnitsOperated" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTankTrucksOperated" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTractorsOperated" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTrailersOperated" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTrucksOperated" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PointsOfDestination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointsOfOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyShipped" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialUnitsOwnedOperated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Territory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationsFreeOnBoard" nillable="true" type="tns:OperationsFreeOnBoard" />
  <xs:complexType name="ArrayOfInterestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterestType" nillable="true" type="tns:InterestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterestType" nillable="true" type="tns:ArrayOfInterestType" />
  <xs:complexType name="InterestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantIsCommonCarrier" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApplicantIsContractCarrier" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApplicantIsOther" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApplicantIsShipperOfOwnedProperty" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="InterestTypeOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Other" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterestType" nillable="true" type="tns:InterestType" />
  <xs:complexType name="ArrayOfCoverages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coverages" nillable="true" type="tns:Coverages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoverages" nillable="true" type="tns:ArrayOfCoverages" />
  <xs:complexType name="Coverages">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_coverages/" minOccurs="0" name="CoverageItems" nillable="true" type="q2:CoverageItems" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalAverageValuePerShipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalIncomingAnnualValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalInterplantAnnualValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLimitOfLiability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalOutgoingAnnualValue" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coverages" nillable="true" type="tns:Coverages" />
  <xs:simpleType name="DriverGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="DriverID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DriverGetType" nillable="true" type="tns:DriverGetType" />
  <xs:complexType name="ArrayOfDriver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Driver" nillable="true" type="tns:Driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriver" nillable="true" type="tns:ArrayOfDriver" />
  <xs:complexType name="Driver">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q3:Address" />
      <xs:element minOccurs="0" name="BroadenedNoFault" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompanyDriverNumber" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ContactID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateHired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriveOtherCar" type="xs:boolean" />
      <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="DriverTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriversLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="MaritalStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentageUse" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SocialSecurityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateLicensedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseTransportationVehicleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearLicensed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearsExperience" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Driver" nillable="true" type="tns:Driver" />
  <xs:simpleType name="VehicleGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="VehicleID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VehicleGetType" nillable="true" type="tns:VehicleGetType" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyTypeIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyVehicleNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/" minOccurs="0" name="CoveragesValue" nillable="true" type="q4:Coverages" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="GarageAddress" nillable="true" type="q5:Address" />
      <xs:element minOccurs="0" name="InsuredID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_vehicle/" minOccurs="0" name="RatingValue" nillable="true" type="q6:Rating" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleIdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
</xs:schema>