Connected Services/CBLServiceReference/EpicSDK7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_coverageslimitsofliability/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_residential/_coverageslimitsofliability/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoverageItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageItem" nillable="true" type="tns:CoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItems" nillable="true" type="tns:CoverageItems" />
  <xs:complexType name="CoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Deductible1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousOptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousPercentage1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MiscellaneousPercentage2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MiscellaneousPercentage3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOf1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumericValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValueFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecondTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritoryZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YesNoIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItem" nillable="true" type="tns:CoverageItem" />
  <xs:complexType name="ArrayOfOtherOptionalCoverageEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherOptionalCoverageEndorsement" nillable="true" type="tns:OtherOptionalCoverageEndorsement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherOptionalCoverageEndorsement" nillable="true" type="tns:ArrayOfOtherOptionalCoverageEndorsement" />
  <xs:complexType name="OtherOptionalCoverageEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliesTo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppliesTo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleBasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FourthTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="MiscellaneousOptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOf1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOf2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValueFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherOptionalCoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherOptionalCoverageEndorsementID" type="xs:int" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecondTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Territory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdTypeOfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YesNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherOptionalCoverageEndorsement" nillable="true" type="tns:OtherOptionalCoverageEndorsement" />
</xs:schema>