Connected Services/CBLServiceReference/EpicSDK5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd503" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/" />
  <xs:complexType name="TransferOfFunds">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromBankAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromBankSubAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromPrintCheck" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="FromTypeOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="FromVendorLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToBankAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToBankSubAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="ToTypeOption" nillable="true" type="q2:OptionType" />
      <xs:element minOccurs="0" name="TransferAccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferEffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferGeneralLedgerScheduleCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferOfFunds" nillable="true" type="tns:TransferOfFunds" />
  <xs:complexType name="PayVouchers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankSubAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/" minOccurs="0" name="EligibleVouchersValue" nillable="true" type="q3:EligibleVouchers" />
      <xs:element minOccurs="0" name="LeaveNetCreditVouchersUnpaid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayVouchers" nillable="true" type="tns:PayVouchers" />
  <xs:complexType name="ArrayOfPayVouchers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayVouchers" nillable="true" type="tns:PayVouchers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayVouchers" nillable="true" type="tns:ArrayOfPayVouchers" />
</xs:schema>