Connected Services/CBLServiceReference/EpicSDK407.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd26" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancedFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceToAccountLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="InvoiceToAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="InvoiceToContactID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceToContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToDeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToSiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToAddressDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBrokerNet" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTaxable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFirstWritten" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
  <xs:complexType name="ProducerBrokerCommissions">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/" minOccurs="0" name="Commissions" nillable="true" type="q2:CommissionItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProducerBrokerCommissions" nillable="true" type="tns:ProducerBrokerCommissions" />
  <xs:complexType name="ServiceSummaryItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceSummaryItem" nillable="true" type="tns:ServiceSummaryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSummaryItems" nillable="true" type="tns:ServiceSummaryItems" />
  <xs:complexType name="ServiceSummaryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceSummaryID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceSummaryVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageChangedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSummaryItem" nillable="true" type="tns:ServiceSummaryItem" />
</xs:schema>