Connected Services/CBLServiceReference/EpicSDK568.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_common/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_common/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="DefaultEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewDefaultEntry" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="NewDefaultEntryOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="OverrideExistingDefaultEntryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultEntry" nillable="true" type="tns:DefaultEntry" />
</xs:schema>