Connected Services/CBLServiceReference/EpicSDK236.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd521" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd523" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_generalledger/_reconciliation/_directbillcommission/" />
  <xs:complexType name="ArrayOfDirectBillCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectBillCommission" nillable="true" type="tns:DirectBillCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectBillCommission" nillable="true" type="tns:ArrayOfDirectBillCommission" />
  <xs:complexType name="DirectBillCommission">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectBillCommissionID" type="xs:int" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaidStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/" minOccurs="0" name="ReconcileDetailItems" nillable="true" type="q1:ReconcileDetailItems" />
      <xs:element minOccurs="0" name="StatementStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/" minOccurs="0" name="SummaryValue" nillable="true" type="q2:Summary" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2017/02/_generalledger/_reconciliation/_directbillcommission/" minOccurs="0" name="RecordDetailItems" nillable="true" type="q3:RecordDetailItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectBillCommission" nillable="true" type="tns:DirectBillCommission" />
</xs:schema>