Connected Services/CBLServiceReference/EpicSDK388.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd542" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_action/_endorsereviseaddlinemidterm/" />
  <xs:complexType name="EndorseReviseAddLineMidterm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDateOfChange" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_action/_endorsereviseaddlinemidterm/" minOccurs="0" name="LinesOfBusiness" nillable="true" type="q1:LineItems" />
      <xs:element minOccurs="0" name="PolicyID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndorseReviseAddLineMidterm" nillable="true" type="tns:EndorseReviseAddLineMidterm" />
</xs:schema>