Connected Services/CBLServiceReference/EpicSDK169.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd92" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/_insuredcontact/" />
  <xs:complexType name="ArrayOfInsuredContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredContact" nillable="true" type="tns:InsuredContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuredContact" nillable="true" type="tns:ArrayOfInsuredContact" />
  <xs:complexType name="InsuredContact">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/_insuredcontact/" minOccurs="0" name="AuthorityContactedValue" nillable="true" type="q1:AuthorityContacted" />
      <xs:element minOccurs="0" name="ClaimID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/_insuredcontact/" minOccurs="0" name="ContactValue" nillable="true" type="q2:Contact" />
      <xs:element minOccurs="0" name="InsuredLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredReportNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/_insuredcontact/" minOccurs="0" name="InsuredValue" nillable="true" type="q3:Insured" />
      <xs:element minOccurs="0" name="JurisdictionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JurisdictionLogNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSHACaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportPurposeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_claim/_insuredcontact/" minOccurs="0" name="SpouseValue" nillable="true" type="q4:Spouse" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuredContact" nillable="true" type="tns:InsuredContact" />
</xs:schema>