Connected Services/CBLServiceReference/EpicSDK229.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/_action/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/_action/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Renew">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Association" type="xs:boolean" />
      <xs:element minOccurs="0" name="Attachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InceptionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrBrCommissions" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="Servicing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Renew" nillable="true" type="tns:Renew" />
  <xs:complexType name="ArrayOfRenew">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Renew" nillable="true" type="tns:Renew" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRenew" nillable="true" type="tns:ArrayOfRenew" />
</xs:schema>