Connected Services/CBLServiceReference/EpicSDK536.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_employee/_sharerevenue/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_employee/_sharerevenue/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd121" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_employee/_sharerevenue/_sharerevenuestructureitem/" />
  <xs:complexType name="ShareRevenueStructureItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShareRevenueStructureItem" nillable="true" type="tns:ShareRevenueStructureItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShareRevenueStructureItems" nillable="true" type="tns:ShareRevenueStructureItems" />
  <xs:complexType name="ShareRevenueStructureItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_employee/_sharerevenue/_sharerevenuestructureitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="ProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueStructureID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShareRevenueStructureItem" nillable="true" type="tns:ShareRevenueStructureItem" />
</xs:schema>