Connected Services/CBLServiceReference/EpicSDK16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd27" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/_commissionitem/" />
  <xs:complexType name="CommissionItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionItem" nillable="true" type="tns:CommissionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionItems" nillable="true" type="tns:CommissionItems" />
  <xs:complexType name="CommissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionID" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_line/_producerbrokercommissions/_commissionitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="LookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ProducerBrokerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductionCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionAgreementID" type="xs:int" />
      <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueBranchID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenuePercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionItem" nillable="true" type="tns:CommissionItem" />
</xs:schema>