Connected Services/CBLServiceReference/EpicSDK350.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.appliedsystems.com/epic/sdk/2009/11/filetransfer/" elementFormDefault="qualified" targetNamespace="http://webservices.appliedsystems.com/epic/sdk/2009/11/filetransfer/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd570" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Upload_Attachment_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileDataStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload_Attachment_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upload_Attachment_FileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download_Attachment_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download_Attachment_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="Download_Attachment_FileResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>