Connected Services/CBLServiceReference/EpicSDK341.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd291" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_Driveritem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd128" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd292" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_terminalitem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd294" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_LocationOtherThanItem/" />
  <xs:complexType name="DriverItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriverItem" nillable="true" type="tns:DriverItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverItems" nillable="true" type="tns:DriverItems" />
  <xs:complexType name="DriverItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_Driveritem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="MajorityDrivingStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidenceStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverItem" nillable="true" type="tns:DriverItem" />
  <xs:complexType name="PremiumPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankABANumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumPaymentAmount" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" minOccurs="0" name="PremiumPaymentUnderwritingItems" nillable="true" type="q2:UnderwritingQuestionAnswerItems" />
      <xs:element minOccurs="0" name="SubmissionMethodCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PremiumPayment" nillable="true" type="tns:PremiumPayment" />
  <xs:complexType name="ProducerCertification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProducerNonResidentExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProducerNonResidentLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerNonResidentStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerResidentExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProducerResidentLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerResidentStateCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProducerCertification" nillable="true" type="tns:ProducerCertification" />
  <xs:complexType name="Supplemental">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateDevelopingHighestPayRollCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" minOccurs="0" name="SupplementalUnderwritingItems" nillable="true" type="q3:UnderwritingQuestionAnswerItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplemental" nillable="true" type="tns:Supplemental" />
  <xs:complexType name="TerminalItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalItem" nillable="true" type="tns:TerminalItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalItems" nillable="true" type="tns:TerminalItems" />
  <xs:complexType name="TerminalItem">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q4:Address" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_terminalitem/" minOccurs="0" name="Flag" type="q5:Flags" />
      <xs:element minOccurs="0" name="LocationNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
      <xs:element minOccurs="0" name="TerminalNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalItem" nillable="true" type="tns:TerminalItem" />
  <xs:complexType name="LocationOtherThanItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationOtherThanItem" nillable="true" type="tns:LocationOtherThanItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationOtherThanItems" nillable="true" type="tns:LocationOtherThanItems" />
  <xs:complexType name="LocationOtherThanItem">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q6:Address" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_assignedrisk/_LocationOtherThanItem/" minOccurs="0" name="Flag" type="q7:Flags" />
      <xs:element minOccurs="0" name="InsuranceCarrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationNumber" type="xs:int" />
      <xs:element minOccurs="0" name="LocationOtherThanID" type="xs:int" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationOtherThanItem" nillable="true" type="tns:LocationOtherThanItem" />
  <xs:simpleType name="RemarkGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="RemarkID" />
      <xs:enumeration value="MarketingLineID" />
      <xs:enumeration value="MarketingLineIDAndCarrierSubmissionID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemarkGetType" nillable="true" type="tns:RemarkGetType" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintOnForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemarkID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
</xs:schema>