Connected Services/CBLServiceReference/EpicSDK110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_coverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_coverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FLCoverageItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLCoverageItem" nillable="true" type="tns:FLCoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLCoverageItems" nillable="true" type="tns:FLCoverageItems" />
  <xs:complexType name="FLCoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLCoverageItem" nillable="true" type="tns:FLCoverageItem" />
</xs:schema>