Connected Services/CBLServiceReference/EpicSDK309.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/03/_account/_policy/_crime/_classificationhiring/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/03/_account/_policy/_crime/_classificationhiring/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="Classifications">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountantsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Adjusters" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdministratorsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AppraisersAndClerks" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Attorneys" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AuditorsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Bookkeepers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusDrivers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BuyersAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Canvassers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CashiersAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Chairpersons" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ChefsWhoOrderFood" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Collectors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ComptrollersAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ComputerProgrammers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreditClerksAndManagers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Custodians" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryPersons" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Demonstrators" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DietitiansWhoOrderFood" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DriversAndHelpers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FoodInspectors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HeadPharmacists" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Instructors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Janitors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LockerRoomAttendants" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaitreDsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ManagersAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MedicalDirectors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MessengersOutside" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OtherOfficersEmployeesNotListed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayrollDistributors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasingAgentsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceivingClerks" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RefineryGaugersOfOil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Salespeople" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityPersonnel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceStationAttendants" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingClerks" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StockClerks" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Storekeepers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StoreroomPersonnel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SuperintendentsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupervisorsAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxiDrivers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Teachers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimekeepersAndAssts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TruckDrivers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WarehousePersonnel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WineCellarPersonnel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WineStewardsEsses" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Classifications" nillable="true" type="tns:Classifications" />
  <xs:complexType name="HiringPractices">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringCreditChecks" type="q1:YesNoOptions" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringCriminalHistory" type="q2:YesNoOptions" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringDrugTesting" type="q3:YesNoOptions" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringEducationTraining" type="q4:YesNoOptions" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringEmployeeListing" type="q5:YesNoOptions" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringFormalTraining" type="q6:YesNoOptions" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringPriorHistory" type="q7:YesNoOptions" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HiringSSNVerified" type="q8:YesNoOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HiringPractices" nillable="true" type="tns:HiringPractices" />
  <xs:complexType name="Totals">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalOfficers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOtherClasses" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOtherEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRetailLocations" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Totals" nillable="true" type="tns:Totals" />
</xs:schema>