Connected Services/CBLServiceReference/EpicSDK96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_watercraft/_operator/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_watercraft/_operator/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExperienceItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExperienceItem" nillable="true" type="tns:ExperienceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExperienceItems" nillable="true" type="tns:ExperienceItems" />
  <xs:complexType name="ExperienceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Experience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
      <xs:element minOccurs="0" name="Flag" type="tns:ExperienceFlags" />
      <xs:element minOccurs="0" name="NumberYearsOwned" type="xs:int" />
      <xs:element minOccurs="0" name="PriorBoatMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorBoatModel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExperienceItem" nillable="true" type="tns:ExperienceItem" />
  <xs:simpleType name="ExperienceFlags">
    <xs:restriction base="xs:string">
      <xs:enumeration value="View" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExperienceFlags" nillable="true" type="tns:ExperienceFlags" />
</xs:schema>