Connected Services/CBLServiceReference/EpicSDK275.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_line/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_line/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillBrokerNet" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillingPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancedFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceToAccountLookupCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="InvoiceToAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="InvoiceToAddressDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToContactID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceToContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToDeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToFaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToSiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceToType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
</xs:schema>