Connected Services/CBLServiceReference/EpicSDK176.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_marketedpolicy/_carrierresponse/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2018/01/_account/_marketedpolicy/_carrierresponse/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItems" nillable="true" type="tns:LineItems" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierResponseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketingLineID" type="xs:int" />
      <xs:element minOccurs="0" name="RequestedCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestedPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResponseAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResponseCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResponseCommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsePercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResponsePremium" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>