Connected Services/CBLServiceReference/EpicSDK313.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_coverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_transportation/_coverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoverageItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageItem" nillable="true" type="tns:CoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItems" nillable="true" type="tns:CoverageItems" />
  <xs:complexType name="CoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValue1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumericValue3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YesNoCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItem" nillable="true" type="tns:CoverageItem" />
</xs:schema>