Connected Services/CBLServiceReference/EpicSDK121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_company/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_company/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd8" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd115" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_company/_companystatecodeitem/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd107" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_common/" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="AddressDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="AllStructuresSelectedOption" nillable="true" type="q2:OptionType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="StructureItems" nillable="true" type="q3:AccountStructureItems" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowOnNewBusiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowOnRenewalBusiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="BatchPaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCompanyID" nillable="true" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="BillingModeOption" nillable="true" type="q4:OptionType" />
      <xs:element minOccurs="0" name="CompanyStateCodeItemsValue" nillable="true" type="tns:CompanyStateCodeItems" />
      <xs:element minOccurs="0" name="GeneralLedgerSubAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBillingCompany" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIssuingCompany" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsParentCompany" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssuesBinders" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentCompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReconciliationMethod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
  <xs:complexType name="CompanyStateCodeItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyStateCodeItem" nillable="true" type="tns:CompanyStateCodeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyStateCodeItems" nillable="true" type="tns:CompanyStateCodeItems" />
  <xs:complexType name="CompanyStateCodeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_company/_companystatecodeitem/" minOccurs="0" name="Flag" type="q5:Flags" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyStateCodeItem" nillable="true" type="tns:CompanyStateCodeItem" />
  <xs:complexType name="CategoriesHistory">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="AgencyDefinedCategorieItems" nillable="true" type="q6:AgencyDefinedCodeItems" />
      <xs:element minOccurs="0" name="DateConverted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PriorAccountID" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="RelationshipItems" nillable="true" type="q7:RelationshipItems" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriesHistory" nillable="true" type="tns:CategoriesHistory" />
  <xs:complexType name="ComplianceIdentificationNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplianceFATCA" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2014/11/_common/" minOccurs="0" name="IdentificationNumberItems" nillable="true" type="q8:IdentificationNumberItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplianceIdentificationNumbers" nillable="true" type="tns:ComplianceIdentificationNumbers" />
</xs:schema>