Connected Services/CBLServiceReference/EpicSDK510.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_coverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_coverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoverageItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageItem" nillable="true" type="tns:CoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItems" nillable="true" type="tns:CoverageItems" />
  <xs:complexType name="CoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Deductible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOICode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumericValue" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItem" nillable="true" type="tns:CoverageItem" />
</xs:schema>