Connected Services/CBLServiceReference/EpicSDK91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_createcarriersubmission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_createcarriersubmission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd5" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/" />
  <xs:complexType name="AttachmentItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentItem" nillable="true" type="tns:AttachmentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentItems" nillable="true" type="tns:AttachmentItems" />
  <xs:complexType name="AttachmentItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/" minOccurs="0" name="AttachmentValue" nillable="true" type="q1:Attachment" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentItem" nillable="true" type="tns:AttachmentItem" />
  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItems" nillable="true" type="tns:LineItems" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketingLineID" type="xs:int" />
      <xs:element minOccurs="0" name="RequestedCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestedCommissionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestedCommissionPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestedLinePremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>