Connected Services/CBLServiceReference/EpicSDK230.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_reinstate/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_reinstate/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd45" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_reinstate/_lineitem/" />
  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItems" nillable="true" type="tns:LineItems" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_reinstate/_lineitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>