Connected Services/CBLServiceReference/EpicSDK210.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd128" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" />
  <xs:simpleType name="RemarkGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="RemarkID" />
      <xs:enumeration value="MarketingLineID" />
      <xs:enumeration value="MarketingLineIDAndCarrierSubmissionID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemarkGetType" nillable="true" type="tns:RemarkGetType" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintOnForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemarkID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
  <xs:complexType name="ArrayOfGeneralInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneralInformation" nillable="true" type="tns:GeneralInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneralInformation" nillable="true" type="tns:ArrayOfGeneralInformation" />
  <xs:complexType name="GeneralInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" minOccurs="0" name="QuestionAnswers" nillable="true" type="q1:UnderwritingQuestionAnswerItems" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingLineID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralInformation" nillable="true" type="tns:GeneralInformation" />
</xs:schema>