Connected Services/CBLServiceReference/EpicSDK49.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_suretyreport/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_suretyreport/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="ArrayOfAccountInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountInformation" nillable="true" type="tns:AccountInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountInformation" nillable="true" type="tns:ArrayOfAccountInformation" />
  <xs:complexType name="AccountInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondFormNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondTermCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelableCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentTermAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="MailingAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RenewalMethodCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInformation" nillable="true" type="tns:AccountInformation" />
  <xs:simpleType name="PrincipalGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="PrincipalID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrincipalGetType" nillable="true" type="tns:PrincipalGetType" />
  <xs:complexType name="ArrayOfPrincipal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Principal" nillable="true" type="tns:Principal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrincipal" nillable="true" type="tns:ArrayOfPrincipal" />
  <xs:complexType name="Principal">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrincipalID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Principal" nillable="true" type="tns:Principal" />
  <xs:simpleType name="ObligeeGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="ObligeeID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ObligeeGetType" nillable="true" type="tns:ObligeeGetType" />
  <xs:complexType name="ArrayOfObligee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Obligee" nillable="true" type="tns:Obligee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObligee" nillable="true" type="tns:ArrayOfObligee" />
  <xs:complexType name="Obligee">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q3:Address" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ObligeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Obligee" nillable="true" type="tns:Obligee" />
  <xs:simpleType name="UnderwritingSuretyRemittanceSuretyGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LineID" />
      <xs:enumeration value="UnderwritingSuretyRemittanceSuretyID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnderwritingSuretyRemittanceSuretyGetType" nillable="true" type="tns:UnderwritingSuretyRemittanceSuretyGetType" />
  <xs:complexType name="ArrayOfUnderwritingSuretyRemittanceSurety">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnderwritingSuretyRemittanceSurety" nillable="true" type="tns:UnderwritingSuretyRemittanceSurety" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnderwritingSuretyRemittanceSurety" nillable="true" type="tns:ArrayOfUnderwritingSuretyRemittanceSurety" />
  <xs:complexType name="UnderwritingSuretyRemittanceSurety">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q4:Address" />
      <xs:element minOccurs="0" name="BondAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchOfficeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnderwritingSuretyRemittanceSuretyID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnderwritingSuretyRemittanceSurety" nillable="true" type="tns:UnderwritingSuretyRemittanceSurety" />
</xs:schema>