Connected Services/CBLServiceReference/EpicSDK364.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageHeader" nillable="true" type="tns:MessageHeader" />
</xs:schema>