Connected Services/CBLServiceReference/EpicSDK433.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd173" namespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd176" namespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd8" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/" minOccurs="0" name="AssociationItems" nillable="true" type="q1:AssociatedItems" />
      <xs:element minOccurs="0" name="BilledAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/" minOccurs="0" name="CommentsValue" nillable="true" type="q2:Comments" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractedFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContractedHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoursRemaining" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoursWorked" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InceptionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/" minOccurs="0" name="ItemizationItems" nillable="true" type="q3:ItemizationItems" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2016/01/_common/" minOccurs="0" name="ProducerBrokerCommissionItems" nillable="true" type="q4:ProducerBrokerCommissionItems" />
      <xs:element minOccurs="0" name="ProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceTotal" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_common/" minOccurs="0" name="ServicingRoleItems" nillable="true" type="q5:ServicingRolesItems" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_clientcontract/_service/" minOccurs="0" name="Status" type="q6:Status" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>