Connected Services/CBLServiceReference/EpicSDK427.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_remarket/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_marketedpolicy/_action/_remarket/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarrierSubmissionDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierSSRAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierSubmissionID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierSubmissionLineTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MarketingLineID" type="xs:int" />
      <xs:element minOccurs="0" name="RequestedPremium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusSSRStage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierSubmissionDetailItem" nillable="true" type="tns:CarrierSubmissionDetailItem" />
  <xs:complexType name="LineDetailItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineDetailItem" nillable="true" type="tns:LineDetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineDetailItems" nillable="true" type="tns:LineDetailItems" />
  <xs:complexType name="LineDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssuingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketingLineID" type="xs:int" />
      <xs:element minOccurs="0" name="ProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineDetailItem" nillable="true" type="tns:LineDetailItem" />
</xs:schema>