Connected Services/CBLServiceReference/EpicSDK399.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_policy/_workerscompensation/_fllocation/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_policy/_workerscompensation/_fllocation/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd284" namespace="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_policy/_workerscompensation/_location/_flratinginformationitem/" />
  <xs:complexType name="FLRatingInformationItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLRatingInformationItem" nillable="true" type="tns:FLRatingInformationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLRatingInformationItems" nillable="true" type="tns:FLRatingInformationItems" />
  <xs:complexType name="FLRatingInformationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualRemunerationPast12Months" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CategoriesDutiesClassifications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyUse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedAnnualPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstimatedAnnualRemuneration" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2013/11/_account/_policy/_workerscompensation/_location/_flratinginformationitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="NumberOfEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RatingInformationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLRatingInformationItem" nillable="true" type="tns:FLRatingInformationItem" />
</xs:schema>