Connected Services/CBLServiceReference/EpicSDK109.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd204" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_coverages/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd205" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_offpremisepowerdependentproperty/" />
  <xs:complexType name="Coverages">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoinsurancePercentage" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_coverages/" minOccurs="0" name="CoverageItemsValue" nillable="true" type="q1:CoverageItems" />
      <xs:element minOccurs="0" name="ExtraExpenseLimitLossPay" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="PremiseInformationOption" nillable="true" type="q2:OptionType" />
      <xs:element minOccurs="0" name="TypeOfBusiness" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coverages" nillable="true" type="tns:Coverages" />
  <xs:complexType name="OffPremisePowerDependentProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DependentPropertyCoverageAppliesToContributing" type="xs:boolean" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageAppliesToLeader" type="xs:boolean" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageAppliesToManufacturing" type="xs:boolean" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageAppliesToRecipient" type="xs:boolean" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageCoinsurancePercentage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageContributingFullPremium" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="DependentPropertyCoverageFormsOption" nillable="true" type="q3:OptionType" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageFormsOtherDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageFullPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageLeaderFullPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageManufacturingFullPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DependentPropertyCoverageRecipientFullPremium" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_property/_businessincomeextraexpenserentalvalue/_offpremisepowerdependentproperty/" minOccurs="0" name="NamesAndAddresses" nillable="true" type="q4:NameAndAddressItems" />
      <xs:element minOccurs="0" name="OffPremisePowerCoverageCommunication" type="xs:boolean" />
      <xs:element minOccurs="0" name="OffPremisePowerCoverageFullPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OffPremisePowerCoveragePower" type="xs:boolean" />
      <xs:element minOccurs="0" name="OffPremisePowerCoverageWater" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OffPremisePowerDependentProperty" nillable="true" type="tns:OffPremisePowerDependentProperty" />
  <xs:complexType name="OtherCoverages">
    <xs:sequence>
      <xs:element minOccurs="0" name="OtherCoveragesInformation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherCoverages" nillable="true" type="tns:OtherCoverages" />
</xs:schema>