Connected Services/CBLServiceReference/EpicSDK394.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/_vehiclent/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/_vehiclent/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd416" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="Limits">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="AccidentBenefitsOccasionalDriverValue" nillable="true" type="q1:LimitItem" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="AccidentBenefitsPrincipalDriverValue" nillable="true" type="q2:LimitItem" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="AllPerilsOccasionalDriverValue" nillable="true" type="q3:LimitItem" />
      <xs:element xmlns:q4="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="AllPerilsPrincipalDriverValue" nillable="true" type="q4:LimitItem" />
      <xs:element xmlns:q5="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="CollisionOrUpsetOccasionalDriverValue" nillable="true" type="q5:LimitItem" />
      <xs:element xmlns:q6="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="CollisionOrUpsetPrincipalDriverValue" nillable="true" type="q6:LimitItem" />
      <xs:element xmlns:q7="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="ComprehensiveOccasionalDriverValue" nillable="true" type="q7:LimitItem" />
      <xs:element xmlns:q8="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="ComprehensivePrincipalDriverValue" nillable="true" type="q8:LimitItem" />
      <xs:element xmlns:q9="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="SpecifiedPerilsOccasionalDriverValue" nillable="true" type="q9:LimitItem" />
      <xs:element xmlns:q10="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="SpecifiedPerilsPrincipalDriverValue" nillable="true" type="q10:LimitItem" />
      <xs:element xmlns:q11="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="ThirdPartyLiabilityOccasionalDriverValue" nillable="true" type="q11:LimitItem" />
      <xs:element xmlns:q12="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_vehicle/" minOccurs="0" name="ThirdPartyLiabilityPrincipalDriverValue" nillable="true" type="q12:LimitItem" />
      <xs:element minOccurs="0" name="TotalVehiclePremiumOccasionalDriver" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalVehiclePremiumPrincipalDriver" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Limits" nillable="true" type="tns:Limits" />
  <xs:complexType name="Rating">
    <xs:sequence>
      <xs:element minOccurs="0" name="FacilityRefusalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityTierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityTierDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingDrivingRecordColl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingDrivingRecordTPL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingRateGroupColl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingRateGroupComp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingTerritory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverRatingVehicleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingDrivingRecordColl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingDrivingRecordTPL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupColl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRateGroupComp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingSubClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingTerritory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingVehicleCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
  <xs:complexType name="VehicleDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualDistanceInKilometers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BodyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyTypeIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessUsePercentage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CommuteDistanceOneWay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyVehicleNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CubicCentimeters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePurchaseLease" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FuelTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelTypeIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossVehicleWeightInKilograms" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LicensedProvinceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPriceNew" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCylinders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccasionalDriverNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q13="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="OwnLeasedOption" nillable="true" type="q13:OptionType" />
      <xs:element minOccurs="0" name="PrincipalDriverNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePriceIncludingEquipment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurchaseTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleIdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleUsedToCommuteYesNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleDescription" nillable="true" type="tns:VehicleDescription" />
</xs:schema>