Connected Services/CBLServiceReference/EpicSDK411.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_applycreditstodebits/_credititem/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_transaction/_action/_applycreditstodebits/_credititem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentItem" nillable="true" type="tns:PaymentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentItems" nillable="true" type="tns:PaymentItems" />
  <xs:complexType name="PaymentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyToDebitTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="FullPayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="PartialPaymentAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentItem" nillable="true" type="tns:PaymentItem" />
</xs:schema>