Connected Services/CBLServiceReference/EpicSDK447.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_detail/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_detail/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd501" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_detail/_detailitem/" />
  <xs:complexType name="DetailItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailItem" nillable="true" type="tns:DetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailItems" nillable="true" type="tns:DetailItems" />
  <xs:complexType name="DetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="DebitCreditOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailItemID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_journalentry/_detail/_detailitem/" minOccurs="0" name="Flag" type="q2:Flags" />
      <xs:element minOccurs="0" name="GeneralLedgerAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralLedgerScheduleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralLedgerSubAccountNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StructureAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StructureBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StructureDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StructureProfitCenterCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailItem" nillable="true" type="tns:DetailItem" />
</xs:schema>