Connected Services/CBLServiceReference/EpicSDK559.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_canadianhabitational/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_policy/_canadianhabitational/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="ArrayOfLossHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LossHistory" nillable="true" type="tns:LossHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLossHistory" nillable="true" type="tns:ArrayOfLossHistory" />
  <xs:complexType name="LossHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPaid" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CauseIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseOfLossCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHistoryReportDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfLoss" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="DoesApplicantHaveInformationWhichMightLeadToAClaim" type="q1:YesNoOptions" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="HaveThereBeenAnyLossesOrClaimsByTheApplicantInThePast5Years" type="q2:YesNoOptions" />
      <xs:element minOccurs="0" name="InsuranceCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LocationNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LossHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="StatusOption" nillable="true" type="q3:OptionType" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossHistory" nillable="true" type="tns:LossHistory" />
</xs:schema>