Connected Services/CBLServiceReference/EpicSDK26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_configure/_activity/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_configure/_activity/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActivityCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityCode" nillable="true" type="tns:ActivityCode" />
</xs:schema>