Connected Services/CBLServiceReference/EpicSDK256.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_action/_cancel/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_action/_cancel/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:simpleType name="CancelPolicyAdditionalInterestGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CancellationID" />
      <xs:enumeration value="CancelPolicyAdditionalInterestID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CancelPolicyAdditionalInterestGetType" nillable="true" type="tns:CancelPolicyAdditionalInterestGetType" />
  <xs:complexType name="ArrayOfAdditionalInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInterest" nillable="true" type="tns:AdditionalInterest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalInterest" nillable="true" type="tns:ArrayOfAdditionalInterest" />
  <xs:complexType name="AdditionalInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInterestID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="CancellationID" type="xs:int" />
      <xs:element minOccurs="0" name="DistributeVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestIfOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLoanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalInterest" nillable="true" type="tns:AdditionalInterest" />
  <xs:simpleType name="CancelPolicyRemarksGetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CancellationID" />
      <xs:enumeration value="CancelPolicyRemarkID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CancelPolicyRemarksGetType" nillable="true" type="tns:CancelPolicyRemarksGetType" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationID" type="xs:int" />
      <xs:element minOccurs="0" name="DateEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintOnForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemarkID" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
</xs:schema>