Connected Services/CBLServiceReference/EpicSDK36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_tnassignedrisk/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_policy/_workerscompensation/_tnassignedrisk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd128" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" />
  <xs:complexType name="TNOfferedRefusedPremiumPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinanceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredElectsExcludedFromEmployersListExplanation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredElectsExcludedFromEmployersListYesNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPremiumFinancedYesNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_shared/_generalinformation/" minOccurs="0" name="OfferedRefusedUnderwritingItems" nillable="true" type="q1:UnderwritingQuestionAnswerItems" />
      <xs:element minOccurs="0" name="PremiumPaymentAmount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TNOfferedRefusedPremiumPayment" nillable="true" type="tns:TNOfferedRefusedPremiumPayment" />
  <xs:complexType name="TNProducerCertification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProducerNonResidentExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProducerNonResidentLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerResidentExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProducerResidentLicenseNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TNProducerCertification" nillable="true" type="tns:TNProducerCertification" />
</xs:schema>