Connected Services/CBLServiceReference/EpicSDK431.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_underlyinginsurance/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_commercialumbrella/_underlyinginsurance/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AutomobileLiability">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIEachAccidentAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BIEachAccidentLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BIEachPersonAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BIEachPersonLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSLEachAccidentAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CSLEachAccidentLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PDEachAccidentAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PDEachAccidentLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlusMinusRatingMod" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferencedLineID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutomobileLiability" nillable="true" type="tns:AutomobileLiability" />
  <xs:complexType name="EmployersLiability">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiseaseEachEmployeeLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiseasePolicyLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EachAccidentAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EachAccidentLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlusMinusRatingMod" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferencedLineID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployersLiability" nillable="true" type="tns:EmployersLiability" />
  <xs:complexType name="GeneralLiability">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DamageToRentedPremisesLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EachOccurrenceLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeneralAggregateLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalExpenseLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonalAndAdvInjuryLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlusMinusRatingMod" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremOpsAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdAndCompOpsAggrLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductsAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReferencedLineID" type="xs:int" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralLiability" nillable="true" type="tns:GeneralLiability" />
  <xs:complexType name="Other">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OtherAnnualRenewalPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlusMinusRatingMod" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferencedLineID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Other" nillable="true" type="tns:Other" />
</xs:schema>