Connected Services/CBLServiceReference/EpicSDK395.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_reconciliation/_directbillcommission/_summary/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd12" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" />
  <xs:complexType name="CriteriaItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_common/" minOccurs="0" name="AllSelectedOption" nillable="true" type="q1:OptionType" />
      <xs:element minOccurs="0" name="Inactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="SelectedItems" nillable="true" type="tns:SelectedItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriteriaItem" nillable="true" type="tns:CriteriaItem" />
  <xs:complexType name="SelectedItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedItem" nillable="true" type="tns:SelectedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedItems" nillable="true" type="tns:SelectedItems" />
  <xs:complexType name="SelectedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedItem" nillable="true" type="tns:SelectedItem" />
</xs:schema>