Connected Services/CBLServiceReference/EpicSDK85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_changepolicyeffectiveexpirationdates/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_action/_changepolicyeffectiveexpirationdates/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceSummaryItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceSummaryItem" nillable="true" type="tns:ServiceSummaryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSummaryItems" nillable="true" type="tns:ServiceSummaryItems" />
  <xs:complexType name="ServiceSummaryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceSummaryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSummaryItem" nillable="true" type="tns:ServiceSummaryItem" />
</xs:schema>