Connected Services/CBLServiceReference/EpicSDK157.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd543" namespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/_receivable/" />
  <xs:complexType name="PaymentInstallmentItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentInstallmentItem" nillable="true" type="tns:PaymentInstallmentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInstallmentItems" nillable="true" type="tns:PaymentInstallmentItems" />
  <xs:complexType name="PaymentInstallmentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentReceivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductionMonth" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInstallmentItem" nillable="true" type="tns:PaymentInstallmentItem" />
  <xs:complexType name="ArrayOfReceivable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receivable" nillable="true" type="tns:Receivable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceivable" nillable="true" type="tns:ArrayOfReceivable" />
  <xs:complexType name="Receivable">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/_receivable/" minOccurs="0" name="ReceivableBalanceItems" nillable="true" type="q1:ReceivableBalanceItems" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2017/02/_account/_transaction/_receivable/" minOccurs="0" name="ReceivableItems" nillable="true" type="q2:ReceivableItems" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receivable" nillable="true" type="tns:Receivable" />
</xs:schema>