Connected Services/CBLServiceReference/EpicSDK533.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd147" namespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/_riskbasedtieredcommissionitem/" />
  <xs:complexType name="RiskBasedTieredCommissionItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskBasedTieredCommissionItem" nillable="true" type="tns:RiskBasedTieredCommissionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskBasedTieredCommissionItems" nillable="true" type="tns:RiskBasedTieredCommissionItems" />
  <xs:complexType name="RiskBasedTieredCommissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_commission/_riskbasedtieredcommission/_riskbasedtieredcommissionitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="OpenRangeFrom" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenRangeTo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RangeFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RangeTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskBasedTieredCommissionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskBasedTieredCommissionItem" nillable="true" type="tns:RiskBasedTieredCommissionItem" />
</xs:schema>