Connected Services/CBLServiceReference/EpicSDK442.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_premise/_rating/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2016/01/_account/_policy/_property/_premise/_rating/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Exposure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exposure" nillable="true" type="tns:Exposure" />
</xs:schema>