Connected Services/CBLServiceReference/EpicSDK114.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd504" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/_eligiblevouchers/" />
  <xs:complexType name="EligibleVouchers">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/_eligiblevouchers/" minOccurs="0" name="EligibleVoucherItemsValue" nillable="true" type="q1:EligibleVoucherItems" />
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/_eligiblevouchers/" minOccurs="0" name="SearchWhereComparisonType" type="q2:SearchWhereComparisonType" />
      <xs:element minOccurs="0" name="SearchWhereFilterField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchWhereFilterField2" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.appliedsystems.com/epic/sdk/2011/01/_generalledger/_action/_payvouchers/_eligiblevouchers/" minOccurs="0" name="SearchWhereFilterType" type="q3:SearchWhereFilterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EligibleVouchers" nillable="true" type="tns:EligibleVouchers" />
</xs:schema>