Connected Services/CBLServiceReference/EpicSDK118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_businessauto/_coverages/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_account/_policy/_businessauto/_coverages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoverageItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageItem" nillable="true" type="tns:CoverageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItems" nillable="true" type="tns:CoverageItems" />
  <xs:complexType name="CoverageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageApplies" type="xs:boolean" />
      <xs:element minOccurs="0" name="CoverageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Deductible1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductible2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductibleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousOptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousPercent1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MiscellaneousPercent2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumValue1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumValue2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumValue3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumberOf1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptionCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyCoverageID" type="xs:int" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Symbol1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YesNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YesNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherSymbol1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiscellaneousOptionCode2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageItem" nillable="true" type="tns:CoverageItem" />
</xs:schema>