Connected Services/CBLServiceReference/EpicSDK170.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_intermodalholder/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/12/_account/_proofofinsurance/_certificate/_intermodalholder/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="HolderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInsuredOnAutomobileLiablity" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalInsuredOnCargo" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalInsuredOnExcessUmbrellaLiablity" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalInsuredOnGeneralLiability" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalInsuredOnTrailerInterchange" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="ClientOutputCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyCancelationNotice" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolderDetails" nillable="true" type="tns:HolderDetails" />
  <xs:complexType name="Template">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="AutomobileLiabilityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CargoLiabilityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DistributeVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcessUmbrellaLiabilityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralLiabilityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other1ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Other2ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrailerInterchangeLiabilityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkersCompensationEmployeeLiabilityID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Template" nillable="true" type="tns:Template" />
</xs:schema>