Connected Services/CBLServiceReference/EpicSDK456.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_driver/_drivernwt/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2014/11/_account/_policy/_canadiancommercialauto/_driver/_drivernwt/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DriverChargesDiscounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="AtFaultClaimAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AtFaultClaimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AtFaultClaimDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AtFaultClaimPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConvictionSurchargeAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConvictionSurchargeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvictionSurchargeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvictionSurchargePercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAppliedAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAppliedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAppliedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAppliedPercentage" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverChargesDiscounts" nillable="true" type="tns:DriverChargesDiscounts" />
</xs:schema>