Connected Services/CBLServiceReference/EpicSDK192.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_losshistory/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_losshistory/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd223" namespace="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_premise/_buildingitem/" />
  <xs:complexType name="LossHistoryItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LossHistoryItem" nillable="true" type="tns:LossHistoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossHistoryItems" nillable="true" type="tns:LossHistoryItems" />
  <xs:complexType name="LossHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPaid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AmountReserved" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimOpenCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfClaim" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfOccurrence" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionOfOccurrenceOrClaim" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2011/01/_account/_policy/_commercialapplication/_premise/_buildingitem/" minOccurs="0" name="Flag" type="q1:Flags" />
      <xs:element minOccurs="0" name="LineType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="SubrogationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfLoss" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossHistoryItem" nillable="true" type="tns:LossHistoryItem" />
</xs:schema>