Connected Services/CBLServiceReference/EpicSDK301.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/02/_generalledger/_reconciliation/_directbillcommission/_recorddetailitem/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/02/_generalledger/_reconciliation/_directbillcommission/_recorddetailitem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Flags">
    <xs:restriction base="xs:string">
      <xs:enumeration value="View" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Flags" nillable="true" type="tns:Flags" />
  <xs:complexType name="ProducerBrokerCommissionItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProducerBrokerCommissionItem" nillable="true" type="tns:ProducerBrokerCommissionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProducerBrokerCommissionItems" nillable="true" type="tns:ProducerBrokerCommissionItems" />
  <xs:complexType name="ProducerBrokerCommissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultProducerBrokerCommissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayableDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProducerBrokerAccountLookupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerBrokerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProducerBrokerCommissionID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductionCreditPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueAgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueBranchID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueDepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenuePercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterID" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRevenueProfitCenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareRevenueReceivingAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProducerBrokerCommissionItem" nillable="true" type="tns:ProducerBrokerCommissionItem" />
  <xs:complexType name="RecordRisks">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineRisksInsured" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LineTotalEligible" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionRisksInsured" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionTotalEligible" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordRisks" nillable="true" type="tns:RecordRisks" />
</xs:schema>