Connected Services/CBLServiceReference/EpicSDK435.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.appliedsystems.com/epic/sdk/2017/01/_account/_policy/_suretyreport/" elementFormDefault="qualified" targetNamespace="http://schemas.appliedsystems.com/epic/sdk/2017/01/_account/_policy/_suretyreport/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://psiepc1sdk002.pshosting.intranet/EpicSDK/EpicSDK.svc?xsd=xsd7" namespace="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" />
  <xs:complexType name="ArrayOfLocationContractSuretyTermsBillingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationContractSuretyTermsBillingInformation" nillable="true" type="tns:LocationContractSuretyTermsBillingInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationContractSuretyTermsBillingInformation" nillable="true" type="tns:ArrayOfLocationContractSuretyTermsBillingInformation" />
  <xs:complexType name="LocationContractSuretyTermsBillingInformation">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.appliedsystems.com/epic/sdk/2009/07/_shared/" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="BondAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChargeTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContractPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CountersigningAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedDateOfCompletion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrossAmountPremium" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="MaintenanceTermMonths" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaintenanceTermYears" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PremiumTransactionEffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PremiumTransactionExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeOfSuretyTermsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationContractSuretyTermsBillingInformation" nillable="true" type="tns:LocationContractSuretyTermsBillingInformation" />
</xs:schema>